<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/output.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../assets/js/jquery.cookie.js"></script>
</head>
<body>
    <div class="md:flex bg-white rounded-lg p-6">
        <img class="h-16 w-16 md:h-24 md:w-24 rounded-full mx-auto md:mx-0 md:mr-6" src="avatar.jpg">
        <div class="text-center md:text-left">
            <h2 class="text-lg">Erin Lindford</h2>
            <div class="text-purple-500">Customer Support</div>
            <div class="text-gray-600">erinlindford@example.com</div>
            <div class="text-gray-600">(555) 765-4321</div>
        </div>
    </div>
</body>
</html>
